services:
  # ------------------------------
  # API Gateway (PUBLIC)
  # ------------------------------
  kong:
    build: ./gateway
    networks: [app-net]
    container_name: msa-kong
    restart: always


    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: /etc/kong/kong.yml
      KONG_PROXY_LISTEN: "0.0.0.0:8000"
      KONG_ADMIN_LISTEN: "0.0.0.0:8001"

    ports:
      - "1212:8000"
      - "1213:8001"

    healthcheck:
      test: ["CMD", "kong", "health"]
      interval: 10s
      timeout: 5s
      retries: 5
  # ------------------------------
  # PostgreSQL (INTERNAL)
  # ------------------------------
  postgres-ride-service:
    image: postgres:16
    networks: [app-net]
    container_name: msa-postgres-ride
    environment:
      POSTGRES_USER: ridedb
      POSTGRES_PASSWORD: ridedb
      POSTGRES_DB: ridedb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  postgres-user-service:
    image: postgres:16
    networks: [app-net]
    container_name: msa-postgres-user
    environment:
      POSTGRES_USER: userdb
      POSTGRES_PASSWORD: userdb
      POSTGRES_DB: userdb
    ports:
      - "5434:5432"
    volumes:
      - userdb-data:/var/lib/postgresql/data


  # ------------------------------
  # Admin / Observability (PUBLIC)
  # ------------------------------
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: msa-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres-ride-service
      - postgres-user-service

  # ------------------------------
  # Redpanda (Kafka-compatible broker)
  # ------------------------------
  redpanda:
    image: redpandadata/redpanda:latest
    container_name: msa-redpanda
    command: >
      redpanda start
      --overprovisioned
      --smp 1
      --memory 1G
      --reserve-memory 0M
      --node-id 0
      --check=false
      --set redpanda.auto_create_topics_enabled=true
      --kafka-addr PLAINTEXT://0.0.0.0:9092
      --advertise-kafka-addr PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"

  # ------------------------------
  # Redpanda Console (Web UI)
  # ------------------------------
  redpanda-console:
    image: redpandadata/console:latest
    container_name: msa-redpanda-console
    environment:
      KAFKA_BROKERS: redpanda:9092
      REDPANDA_ADMIN_API_URL: http://redpanda:9644
    ports:
      - "8080:8080"
    depends_on:
      - redpanda

  # ------------------------------
  # Microservices (INTERNAL)
  # ------------------------------

  ride-service:
    build:
      context: ./services/ride-service
    networks: [app-net]
    container_name: msa-ride-service
    environment:
      PORT: 3000
      DB_HOST: postgres-ride-service
      DB_PORT: 5432
      DB_USER: ridedb
      DB_PASSWORD: ridedb
      DB_NAME: ridedb
      KAFKA_BROKER: redpanda:9092
    ports:
      - "3000:3000"
    depends_on:
      - postgres-ride-service
      - redpanda

  vehicle-service:
    build:
      context: ./services/vehicle-service/VehicleService
    networks: [app-net]
    container_name: msa-vehicle-service
    environment:
      KAFKA_BROKER: redpanda:9092
      KAFKA_GROUP_ID: vehicle-service-group
      TOPIC_RIDE_REQUESTED: ride.requested
      TOPIC_VEHICLE_ASSIGNED: vehicle.assigned
    depends_on:
      - redpanda

  user-service:
    build:
      context: ./services/user-service
    networks: [app-net]
    container_name: msa-user-service
    ports:
      - "8001:8000"
    environment:
      DB_HOST: postgres-user-service
      DB_PORT: 5432
      DB_USER: userdb
      DB_PASSWORD: userdb
      DB_NAME: userdb
    depends_on:
      - postgres-user-service

  notification-service:
    build:
      context: ./services/notification-service
    networks: [app-net]
    container_name: msa-notification-service
    environment:
      KAFKA_BROKER: redpanda:9092
    depends_on:
      - redpanda


volumes:
  pgdata:
  userdb-data:


networks:
  app-net: